.luckdraw-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.draw-btn {
  margin-top: 300px;
  width: 150px;
  height: 150px;
  background: url('../../../src/assets/images/App/drawButton1.png') no-repeat;
  background-size: 100% 100%;
}